/* =========================
   ROOT COLORS
========================= */

:root{

--bg:#070707;
--card:#151515;
--card2:#202020;

--text:#ffffff;
--muted:#a1a1aa;

--gold:#D4AF37;
--gold-light:#F5D76E;

--border:rgba(212,175,55,.25);

}



.light{

--bg:#f5f5f5;
--card:#ffffff;
--card2:#eeeeee;

--text:#111827;
--muted:#475569;

--gold:#b8860b;
--gold-light:#d4af37;

--border:rgba(184,134,11,.25);

}






/* =========================
 RESET
========================= */

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{

background:var(--bg);

color:var(--text);

transition:.4s;

}





/* =========================
 NAVBAR
========================= */


header{

position:sticky;

top:0;

z-index:100;

background:rgba(0,0,0,.75);

backdrop-filter:blur(15px);

}



.navbar{

width:90%;

max-width:1300px;

margin:auto;

padding:20px 0;

display:flex;

justify-content:space-between;

align-items:center;

}



.navbar h2{

color:var(--gold);

}



.nav-links{

display:flex;

align-items:center;

gap:25px;

}



.nav-links a{

color:var(--text);

text-decoration:none;

font-size:14px;

}



.nav-links a:hover{

color:var(--gold);

}



#themeToggle{

background:var(--gold);

border:none;

width:42px;

height:42px;

border-radius:50%;

cursor:pointer;

font-size:18px;

}





/* =========================
 CONTAINER
========================= */


.container{

width:90%;

max-width:1300px;

margin:auto;

}





/* =========================
 HERO
========================= */


.hero{

text-align:center;

padding:70px 0;

}



.badge{

display:inline-block;

padding:8px 20px;

border-radius:30px;

border:1px solid var(--gold);

color:var(--gold);

font-size:13px;

margin-bottom:25px;

}



.hero h1{

font-size:60px;

color:var(--gold);

margin-bottom:20px;

}



.hero p{

max-width:850px;

margin:auto;

color:var(--muted);

font-size:18px;

line-height:1.8;

}



.dashboard-preview{

width:90%;

max-width:1150px;

margin:50px auto;

display:block;

border-radius:25px;

border:1px solid var(--border);

box-shadow:

0 20px 70px rgba(212,175,55,.25);

transition:.4s;

}



.dashboard-preview:hover{

transform:scale(1.02);

}






/* =========================
 PANELS
========================= */


.panel{

background:var(--card);

padding:35px;

border-radius:25px;

margin:35px 0;

border:1px solid var(--border);

transition:.3s;

}



.panel h2{

color:var(--gold);

margin-bottom:25px;

}





/* =========================
 FILTERS
========================= */


.filters{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}



.filters div{

background:var(--card2);

padding:22px;

border-radius:15px;

border:1px solid var(--border);

position:relative;

}



.filters div::after{

content:"⌄";

position:absolute;

right:20px;

top:35px;

color:var(--gold);

}



.filters label{

color:var(--gold);

font-size:14px;

}



.filters p{

margin-top:10px;

color:var(--text);

}






/* =========================
 KPI CARDS
========================= */


.kpis{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin:40px 0;

}



.kpi{

background:linear-gradient(

145deg,

#191919,

#101010

);

padding:35px;

border-radius:22px;

text-align:center;

border:1px solid var(--border);

transition:.3s;

}



.kpi:hover{

transform:translateY(-8px);

border-color:var(--gold);

}



.icon{

font-size:35px;

margin-bottom:15px;

}



.kpi h3{

font-size:50px;

color:var(--gold);

margin-bottom:10px;

}



.kpi p{

color:var(--muted);

}



.kpi span{

display:inline-block;

margin-top:12px;

font-size:13px;

color:#22c55e;

}







/* =========================
 ANALYTICS GRID
========================= */


.dashboard-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.chart{

background:var(--card);

border:1px solid var(--border);

border-radius:22px;

padding:30px;

min-height:260px;

transition:.3s;

}



.chart:hover{

transform:translateY(-6px);

border-color:var(--gold);

}



.chart h3{

color:var(--gold);

margin-bottom:25px;

}







/* LINE CHART */


.line-chart{

height:160px;

border-radius:15px;

position:relative;

overflow:hidden;


background:

linear-gradient(

180deg,

rgba(212,175,55,.25),

transparent

);

}



.line{

position:absolute;

left:20px;

bottom:45px;

width:85%;

height:80px;


border-bottom:3px solid var(--gold);


transform:

skewY(-8deg);


}







/* DONUT */


/* DONUT CHART */

.donut{

width:160px;
height:160px;

border-radius:50%;

margin:30px auto;

display:flex;

align-items:center;

justify-content:center;


background:

conic-gradient(
var(--gold) 62%,
#333 0
);


position:relative;

}


.donut::before{

content:"";

position:absolute;

width:105px;
height:105px;

background:var(--card);

border-radius:50%;

}


.donut div{

position:relative;

z-index:2;

font-size:30px;

font-weight:700;

color:var(--gold);

}


.donut.small{

background:

conic-gradient(
var(--gold) 72%,
#333 0
);

}


.donut div{

width:95px;

height:95px;

border-radius:50%;

background:var(--card);

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

font-weight:bold;

color:var(--gold);

}




.donut.small{

background:

conic-gradient(

var(--gold) 72%,

#333 0

);

}






/* BARS */


.bars div{

color:var(--muted);

margin:18px 0;

}



.bars span{

display:block;

height:18px;

margin-top:8px;

background:var(--gold);

border-radius:20px;

}



.bar1{

width:90%;

}


.bar2{

width:70%;

}


.bar3{

width:50%;

}


.bar4{

width:35%;

}






/* COLUMNS */


.columns{

display:flex;

align-items:end;

height:150px;

gap:15px;

}



.columns span{

width:25px;

background:var(--gold);

border-radius:8px;

}



.columns span:nth-child(1){

height:50px;

}


.columns span:nth-child(2){

height:90px;

}


.columns span:nth-child(3){

height:120px;

}


.columns span:nth-child(4){

height:70px;

}


.columns span:nth-child(5){

height:100px;

}





/* INSIGHTS */


.insights{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}



.insights div{

background:var(--card2);

padding:25px;

border-radius:18px;

}



.insights h3{

color:var(--gold);

margin-bottom:10px;

}



.insights p{

color:var(--muted);

}






footer{

text-align:center;

padding:40px 0;

color:var(--muted);

}





/* =========================
 MOBILE
========================= */


@media(max-width:900px){


.hero h1{

font-size:38px;

}


.kpis{

grid-template-columns:1fr;

}


.filters{

grid-template-columns:1fr;

}


.dashboard-grid{

grid-template-columns:1fr;

}


.insights{

grid-template-columns:1fr;

}


.nav-links a{

display:none;

}


}

/* =====================
   CHART LABELS
===================== */


.chart-labels{

display:flex;

justify-content:space-between;

margin-top:15px;

color:var(--muted);

font-size:12px;

}





/* FLIGHT STATUS */


.donut small{

display:block;

font-size:12px;

color:var(--muted);

margin-top:5px;

}




.status-list{

margin-top:20px;

}



.status-list p{

margin:10px 0;

color:var(--muted);

}





/* DELAY LIST */


.delay-list p{

margin:15px 0;

font-size:15px;

color:var(--text);

}
