*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,Arial,sans-serif;
}


body{

background:#0F172A;
color:white;
padding:50px;

}


.container{

max-width:1000px;
margin:auto;

}


h1{

color:#3B82F6;
font-size:45px;
margin-bottom:20px;

}


.intro{

color:#CBD5E1;
font-size:18px;
margin-bottom:40px;

}


.card{

background:#1E293B;
padding:30px;
border-radius:20px;
margin-bottom:25px;

}


h2{

color:#60A5FA;
margin-bottom:15px;

}


p,li{

color:#CBD5E1;
line-height:1.8;

}


.tags span{

background:#2563EB;
padding:8px 15px;
border-radius:20px;
display:inline-block;
margin:5px;

}


.btn{

display:inline-block;
background:#2563EB;
color:white;
padding:14px 25px;
border-radius:10px;
text-decoration:none;
margin-right:15px;

}
